img{
    width:100%;
    max-width:150px;
}
img#logo {
    width: 225px;
    display: block;
    float: left;
}
img#background{
    background-position: center;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-repeat: repeat;
}
section {
    min-height: 650px;
    display: block;
}